*.sh text eol=lf
*.slurm text eol=lf
repo/ood/issue27ckbj_*.py text eol=lf
repo/ood/issue27ckat_*.py text eol=lf
repo/ood/issue27ckbl_*.py text eol=lf
repo/ood/issue27ckbm_*.py text eol=lf
repo/ood/issue27ckbo_*.py text eol=lf
runs/mainline_docs/ckbo_* text eol=lf
repo/ood/vendor/tabm_v0_0_3/* text eol=lf
